  .button_home {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-350%, -50%);
    z-index: 2;
    width: 10%;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    text-decoration:none;
    
  }

  .button_home::after{
    content: "Accueil";
  }

  .button_speed_direction::after{
    content: "Vitesse et direction du vent";
  }

  .button_simulation::after{
    content: "Simuler une production énergétique";
  }
  
  .button_progress::after{
    content: "Progression de la production énergétique";
  }
  
  .button_compare_windmill::after{
    content: "Comparer plusieurs éoliennes";
  }
  
  .button_compare_places::after{
    content: "Comparer le rendement énergétique sur plusieurs sites";
  }

  #button_logout::after{
    content: "Déconnexion";
  }

  /* changer noms des bouttons ici */

  .button_speed_direction {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-230%, -50%);
    z-index: 2;
    width: 10%;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    text-decoration:none;
    
  }

  .button_simulation {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-110%, -50%);
    z-index: 2;
    width: 10%;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    text-decoration:none;
    
  }

  .button_progress {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(+10%, -50%);
    z-index: 2;
    width: 10%;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    text-decoration:none;
    
  }

  .button_compare_windmill {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(+130%, -50%);
    z-index: 2;
    width: 10%;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    text-decoration:none;
  }

  .button_compare_places {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(+250%, -50%);
    z-index: 2;
    width: 10%;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    text-decoration:none;
    
  }

  #button_login {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: -1.7%;
    right: 0%;
    z-index: 2;
    width: 5%;
    height: 2%;
    text-align: center;
    cursor: pointer;
    text-decoration:none;
  }

  #button_logout {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 2;
    width: 6%;
    height: 2%;
    text-align: center;
    cursor: pointer;
    text-decoration:none;
  }
  
  .acc {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    
  }

  #login_div {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 6%;
    right: 0%;
    z-index: 2;
    width: 7%;
    padding: 5px;
    text-align: center;
    display: none;
  }

  #email_input {
    width: 95%;
  }
  #password_input {
    width: 95%;
  }

  .etat_connexion {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 2;
    width: 6%;
    padding: 3px;
    text-align: center;
  }
  .rose {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 2px solid #f1f1f1;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    height: 75%;
    padding: 20px;
    text-align: center;
  }

  .button_home:hover {
    background-color: black;
  }

  .button_speed_direction:hover {
    background-color: black;
  }

  .button_simulation:hover {
    background-color: black;
  }

  .button_progress:hover {
    background-color: black;
  }

  .button_compare_windmill:hover {
    background-color: black;
  }

  .button_compare_places:hover {
    background-color: black;
  }

  #button_login:hover {
    background-color: black;
  }

  #button_logout:hover {
    background-color: black;
  }

  body {
    background-image: url('site_background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }