  .graphComp .labels.x-labels {
    text-anchor: middle;
    fill: white;
  }
  
  .graphComp .labels.y-labels {
    text-anchor: end;
    fill: white;
  }
  
  .graphComp .label-title{
    text-anchor: end;
    fill: white;
    font-size: 10px;
    font: small-caption;
  }


  .graphComp {
    top: 13%;
    height: 580px;
    width: 1200px;
    position: absolute;
    left:11%;
  }
  
  .graphComp .grid {
    stroke: #ccc;
    stroke-dasharray: 0;
    stroke-width: 1;
  }
  
  .labels {
    font-size: 13px;
  }
  
  .label-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    fill: rgb(255, 255, 255);
  }
  
  .data {
    stroke: white;
    stroke-width: 1; 
  }
  
  #Histo_Eolienne1
  {
    fill: red;
  }

  #Histo_Eolienne2
  {
    fill: blue;
  } 

  #Histo_Eolienne3
  {
    fill: green;
  }

  #Histo_Eolienne4
  {
    fill: lightgoldenrodyellow;
  }

  #Histo_Eolienne5
  {
    fill: purple;
  }

  #Histo_Eolienne6
  {
    fill: orange;
  }

  #Histo_Eolienne7
  {
    fill: lightsalmon;
  }

  #Histo_Eolienne8
  {
    fill: gray;
  }

  #Histo_Eolienne9
  {
    fill: blueviolet;
  }

  #Histo_Eolienne10
  {
    fill: chartreuse;
  }

  #Histo_Eolienne11
  {
    fill: firebrick;
  }

  #Histo_Site1
  {
    fill: red;
  }

  #Histo_Site2
  {
    fill: blue;
  } 

  #Histo_Site3
  {
    fill: green;
  }

  #Histo_Site4
  {
    fill: lightgoldenrodyellow;
  }

  #Histo_Site5
  {
    fill: purple;
  }

  #Histo_Site6
  {
    fill: orange;
  }

  #Histo_Site7
  {
    fill: lightsalmon;
  }

  #Histo_Site8
  {
    fill: gray;
  }

  #Histo_Site9
  {
    fill: blueviolet;
  }

  #Histo_Site10
  {
    fill: chartreuse;
  }

  #Histo_Site11
  {
    fill: firebrick;
  }
  