
  .graph .labels.x-labels {
    text-anchor: middle;
    fill: white;
  }
  
  .graph .labels.y-labels {
    text-anchor: end;
    fill: white;
  }
  
  .graph .label-title{
    text-anchor: end;
    fill: white;
    font-size: 10px;
    font: small-caption;
  }


  .graph {
    height: 580px;
    width: 1200px;
    position: absolute;
    top: 15%;
    left: 13%;
  }
  
  .graph .grid {
    stroke: #ccc;
    stroke-dasharray: 0;
    stroke-width: 1;
  }
  
  .labels {
    font-size: 13px;
  }
  
  .label-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    fill: rgb(255, 255, 255);
  }
  
  .data {
    stroke: white;
    stroke-width: 1; 
  }

  #Histo_Janvier
  {
    fill: red;
  }

  #Histo_Fevrier
  {
    fill: blue;
  } 

  #Histo_Mars
  {
    fill: green;
  }

  #Histo_Avril
  {
    fill: lightgoldenrodyellow;
  }

  #Histo_Mai
  {
    fill: purple;
  }

  #Histo_Juin
  {
    fill: orange;
  }

  #Histo_Juillet
  {
    fill: lightsalmon;
  }

  #Histo_Aout
  {
    fill: gray;
  }

  #Histo_Septembre
  {
    fill: blueviolet;
  }

  #Histo_Octobre
  {
    fill: chartreuse;
  }

  #Histo_Novembre
  {
    fill: firebrick;
  }

  #Histo_Decembre
  {
    fill: hotpink;
  }

   /***** Progression de la évolution énergétique *****/

   .selectAnneePPE { position: absolute; left: 1%; right: 0%; top: 4%; bottom: 0%; height: 20px; width: 100px; }
   .selectMoisPPE { position: absolute; left: 8%; right: 0%; top: 4%; bottom: 0%; height: 20px; width: 85px; }
   .selectPiouPiouPPE { position: absolute; left: 1%; right: 0%; top: 9%; bottom: 0%; height: 20px; width: 150px; }
   .selectEoliennePPE { position: absolute; left: 1%; right: 0%; top: 14%; bottom: 0%; height: 20px; width: 180px; }

   