#formulaire {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(90, 73, 73, 0.4); /* Black w/opacity/see-through */
    color: rgb(239, 255, 11);
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 30%;
    left: 42%;
    transform: translate(-350%, -50%);
    z-index: 2;
    width: 10%;
    padding: 10px;
    text-align: center;
    cursor: crosshair;
    text-decoration:none
  }